img[alt="Pollution"]{
  border: 5px dashed red;
} 

img[src$="jpg"]{
  margin-left: 50px;
}

li[data-description~="even"] {/* data-description содержит
                                Целое Слово (через пробел) even */
  background-color: grey;
}

li[data-description*="even"] { /* data-description имеет вхождение строки even */
  font-size: 24px;
}

a[href^="https://"] {
  color: green;
}

span[lang|="en"] {
  font-size: 28px;
}


/* ----------------------- CЛОЖНЫЕ СЕЛЕКТОРЫ -------------------------
                  ЭЛЕМЕНТ[атрибут ОПЕРАТОР значение]
----------------------------------------------------------------------
=    Равно                input[type="text">]   <input type="text">
-----------------------------------------------------------------------------------
^=   Начинается с части слова  a[href^="http"]  <a href="https://google.com"...></a>
     любых букв   
------------------------------------------------------------------------------------
$=   Заканчивается на...   img[src$=".jpg"]     <img src="nature.jpg">
------------------------------------------------------------------------------------
*=   Cодержит часть строки a[href*="google"]    <a href="https://google.com">...</a>
------------------------------------------------------------------------------------
~=   Содержит слово Разделенное
                      ПОБЕЛОМ ul[class~="product-list"]
                                                 <ul class="product-list avaliable">
------------------------------------------------------------------------------------ 
|=    Начинается с "слово"  [lang|="en"]           <p lang="en-gb">Hello</p>
----------------------------------------------------------------------------------*/