.list {
   list-style-type: none; /*УБИРАЕМ Значки перед элементами списка */
   
  /* em – текущий размер шрифта.
          Можно брать любые пропорции от ТЕКУЩЕГО шрифта РОДИТЕЛЯ: 2em, 0.5em и т.п.

    Размеры в em – относительные, они определяются по текущему контексту.
    -----------------------------------------------------------------------------

    rem задаёт размер относительно размера шрифта элемента <html> */

   font-size: 1.5em;
   
   
}

.first {
  text-decoration: red overline;
  text-decoration-style: wavy; /* Cтиль Подчеркиванияя - Волна */
}

.second {
  text-decoration: line-through;/* Подчеркивание - ПЕРЕЧЕРКИВАНИЕ*/
}

.third {
  text-decoration: green underline;  
}

