
li {
  margin-bottom: 16px;
}

ol>li>span {
  background-color: green;
  color: white;
}

ul>li>span {
  background-color: orange;
  color: white;
}

#special + li > span{
  border: 3px solid red;
}


#special ~ li{
  margin-left: 16px;
}


/*------------------------- ИЕРАРХИЧЕСКИЕ Селекторы --------------------------------

Пробел      Элементы-ПОТОМКИ                section p {...} 
            ЛЮБОЙ ГЛУБИНЫ                   ВСЕ параграфы внутри <section>
------------------------------------------------------------------------------------
>           Элементы-Дети(ПРЯМЫЕ ПОТОМКИ)   ul.products > li{...}
                                            Элем. списка с Классом-products (игнорирует вложенные списки, если есть)
------------------------------------------------------------------------------------
+          ОДИН СЛЕДУЮЩИЙ-Сестринский элем. #description + div{...}
                                             Ищет элем. с id="description" и стилизует ОДИН СЛЕДУЮЩИЙ после него div на ТОМ ЖЕ УРОВНЕ
-------------------------------------------------------------------------------------
~           ВСЕ СЛЕДУЮЩИЕ-Сестринские элем. #description ~ div{...}
                                            Ищет элем. с id="description" и стилизует ВСЕ Следующие после него div-ы на ТОМ ЖЕ УРОВНЕ
-----------------------------------------------------------------------------------*/