* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  margin: 0;
  padding: 0;
}

.image {
  width: 200px;
  height: 200px;
  margin: 16px;
  border: 1px dotted gray;

  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
} 